<table class="blogroll">
  {{ $show_hostname := .Get "show_hostname" }}
  {{ $show_about := .Get "show_about" }}
  <tr>
    <th>Name</th>
    {{ if $show_hostname }}<th>Host</th>{{ end }}
    {{ if $show_about }}<th>About</th>{{ end }}
  </tr>
  {{ if .Get "name" }}
    {{ $name := .Get "name" }}
    {{ $filename := (replace $name " " "-") | lower }}
    {{ with index $.Site.Data.blogrolls $filename }}
      {{ range . }}
        <tr>
          <td class="blogroll-name"><a href="{{ .url }}">{{ .name }}</a></td>
          {{- if $show_hostname }}<td class="blogroll-host">{{ (urls.Parse .url).Hostname }}</td>{{- end }}
          {{- if $show_about }}<td class="blogroll-about">{{ .about }}</td>{{ end }}
        </tr>
      {{ end }}
    {{ end }}
  {{ else }}
    {{ range .Site.Data.blogrolls.recommendations }}
      <tr>
        <td class="blogroll-name"><a href="{{ .url }}">{{ .name }}</a></td>
        {{ if $show_hostname }}<td class="blogroll-host">{{ (urls.Parse .url).Hostname }}</td>{{ end }}
        {{ if $show_about }}<td class="blogroll-about">{{ .about }}</td>{{ end }}
      </tr>
    {{ end }}
  {{ end }}
</table>
